<?xml version="1.0" ?>
<model>
    <name>PlainTile90</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

      <author>
       <name>Gerardo Puga</name>
       <email>glpuga@gmail.com</email>
      </author>

    <description>Black and white tile, 90 cm side</description>
</model>
