<?xml version="1.0" ?>
<model>
    <name>low_profile_playground</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Michel Hidalgo</name>
        <email>michel@ekumenlabs.com</email>
    </author>
    <description>Low height sample playground</description>
</model>
